$background-base: #0a0a0a;
$background-base-cthrough: #1b1b1b9f;
$background-base-hover: #1a1a1a;
$text-base: #ffffff;
$text-not-focused: #a3a3a3;
$text-base-hover: #cfcfcf;
$text-darker: #bebebe;
$separator-color: #333333;
$submenu-shortcut: #cfcfcf;
$border-base: #1a1919;
$canvas-base: #000000;
