$titlebar-font-size: 13px;
$titlebar-sub-fsize: 13px;
$shortcut-fsize: 11px;

$fsize-small: 11px;
$fsize-base: 13px;
$fsize-large: 16px;
$fsize-xlarge: 20px;
$fsize-xxlarge: 25px;
$fsize-black: 35px;

$animation-speed: 0.1s;
